<!DOCTYPE html>
    <html>
    <head>
        <meta = charset ='UTF-8'>
        <title> Ml API </title> 
        <link rel="stylesheet" href ="{{url_for ('static', filename='style.css')}}">
    </head> 
   <body>
       <div class ="login">
           <h1> predict price of used </h1>
           <form action="{{url_for('predict')}}" method='post'>
               <input type="text" name="year" placeholder="year" required="required">
               <input type="text" name="KM_Traveled" placeholder="KM_Traveled" required="required">
               <button type="submit" class="btn btn-primary btn-block btn-large"> predict </button>
           </form>
    <br>
    <br>
           {{prediction_text}}
       </div>
        </body>
</html>      